.flash-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .flash-card {
    background-color: #7c6cf1;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .flash-card-content {
    color: white;
    text-align: left;
  }
  
  .flash-card h3 {
    margin-bottom: 10px;
  }
  
  .flash-card p {
    margin-bottom: 10px;
  }
  
  .bm-item {
    display: block;
    padding: 0.5rem 1rem;
    color: #fff;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
  }
  
  .bm-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .bm-item:active {
    background-color: rgba(255, 255, 255, 0.4);
  }
  
   
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    
  }
  
  li a:hover {
    background-color: #111;
  }


body {
  background-color: #fdf1ec;
}

.wrapper {
  border-radius: 7px 7px 7px 7px;

}

.product-img {
  float: left;
  height: 200px;
  width: 200px;
  /* height: 420px;
  width: 327px; */
}

.product-img img {
  border-radius: 7px 0 0 7px;
}

.product-info {
  float: left;
  height: 300px;
  width: 270px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-text {
  height: 300px;
  width: 270px;
}

.product-text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
}

.product-text h1,
.product-price-btn p {
  font-family: 'Bentham', serif;
}

.product-text h2 {
  margin: 0 0 47px 38px;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.product-text p {
  height: 125px;
  margin: 0 0 0 38px;
  font-family: 'Playfair Display', serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn {
  height: 103px;
  width: 300px;
  margin-top: 17px;
  position: relative;
}

.product-price-btn p {
  display: inline-block;
  position: absolute;
  top: -13px;
  height: 50px;
  font-family: 'Trocchi', serif;
  margin: 0 0 0 38px;
  font-size: 28px;
  font-weight: lighter;
  color: #474747;
}

.product-price-btn button {
  float: right;
  display: inline-block;
  height: 45px;
  width: 140px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
}

.product-price-btn button:hover {
  background-color: #79b0a1;
}

#flex-container {
  display: flex;
  font-family: Consolas, Arial, sans-serif;
}

#flex-container > div {
  padding: 1rem;
}

#flex-auto {
  flex: auto;
}

#flex-initial {
}